@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.top-nav-bar {
  height: 8vh;
  background-color: #a17ebe;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.top-nav-bar a {
  font-family: cursive;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.button {
  background-color: #a17ebe;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.custom-border {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 4px 2px;
  border-radius: 5px;
}

.styled-table {
  border-collapse: collapse;
  margin: 12px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
}

.styled-table thead tr {
  background-color: #a17ebe;
  color: #ffffff;
  text-align: left;
}
.styled-table th {
  padding: 9px;
  max-width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styled-table td {
  padding: 6px;
  max-width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a17ebe;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #a17ebe;
}
