@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.top-nav-bar {
  height: 10vh;
  background-color: #a17ebe;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.top-nav-bar a {
  font-family: cursive;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.button {
  background-color: #a17ebe;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.custom-border {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 4px 2px;
  border-radius: 5px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Set the table layout to fixed */
  border-radius: 30px;
  min-width: 600px;
}

/* .custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
